.osh-ad-card {
  width: 300px;
  height: 320px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__rating {
    background-image: linear-gradient(to left, transparent, #aee0e2, #91edf0);
    width: 64px;
    padding: 4px 0 0 6px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    span {
      padding-top: 4px;
    }
  }
  &__footer {
    background-color: #aee6e6;
    width: 100%;
    height: 60px;
    padding-inline: 12px;
    position: absolute;
    bottom: 0;
    opacity: 0.9;
  }
  &__title {
    width: 100%;
    margin-block: 8px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    direction: ltr;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__discription {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
