@use "../../../assets/global-styles/mixin.scss";
.header {
  background-color: white;
  width: 100%;
  max-width: 1440px;
  height: 56px;
  padding: 0 32px 0 16px;
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 1px lightgray;
  border-end-end-radius: 16px;
  border-end-start-radius: 16px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  &__logo-holder {
    display: flex;
    align-items: center;
    span {
      margin-inline-end: 16px;
      color: #f7931e;
      font-size: 14px;
    }
  }
  &__image-holder {
    width: fit-content;
    height: 48px;
  }
  &__image {
    height: 100%;
    object-fit: contain;
  }
  &__nav {
    display: flex;
  }
}
