.osh-skelton {
  animation: osh-skelton 2s infinite;
}

@keyframes osh-skelton {
  0% {
    background-color: #808080;
  }
  50% {
    background-color: #8d8d8d;
  }
  100% {
    background-color: #808080;
  }
}
