@use "../../../assets/global-styles/mixin.scss";
.cart-button {
  margin-inline-end: 48px; /////////////
  padding: 0 0.8px;
  position: relative;
  color: black;
  &__count {
    color: black;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -14px;
    right: -24px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 12px;
    border: 1px solid black;
    border-radius: 50%;
  }
}
