@use "../../../assets/global-styles/mixin.scss";
.osh-ad-list-menu-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 16px;
  justify-content: space-between;
  padding: 16px 0 60px;
}
.osh-ad-list-loading {
  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
