@use "../../../assets/global-styles/mixin.scss";
.cart-address {
  width: 100%;
  height: fit-content;
  @include mixin.osh-border(1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px; 
  .osh-input__input {
    width: 60%;
    margin-inline:20%; 
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }
  .osh-button {
    margin: 32px auto;
  }
  a {
    margin-top: 32px;
    @include mixin.osh-button();
  }
}
