@use "../../../assets/global-styles/mixin.scss";
.sign-up-page {
  width: 100%;
  height: fit-content;
  @include mixin.osh-border(1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  .osh-input__input {
    margin-inline:20%;
    @include mixin.osh-input();
    width: 60%;
   margin-bottom: 20px;
  }  
     
.osh-button {
    
    margin: 32px auto;
    
  }
}
