@mixin osh-button() {
  background-color: lightgray;
  height: 32px;
  padding: 0 24px;
  @include osh-border(1px);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: thistle;
  }
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
@mixin osh-input() {
  background-color: #fff;
  color: #333;
  padding: 8px 16px;
  @include osh-border(1px);
  font-size: 16px;
  font-weight: 500;
}
@mixin osh-border($border-width) {
  border: $border-width solid #333;
}

$white: #fbf6f0;
$light-pink: #EFEFEF;
$orange: #ffa45b;
$blue: #aee6e6;
$yellow: #ffda77;
