@mixin osh-button() {
  height: 32px;
  @include osh-border(1px);
  border-radius: 24px;
  padding: 0 24px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: thistle;
  }
  &--disabled {
    opacity: 0.5; 
    cursor: not-allowed;
  }
}
@mixin osh-input() {
  @include osh-border(1px);
  background-color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
@mixin osh-border($border-width) {
  border: $border-width solid #333;
}
