* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
input {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
